beautifulsoup4==4.12.3
bertopic==0.15.0
dashscope==1.20.7
EbookLib==0.18
hdbscan==0.8.33
networkx==3.1
openai==1.44.0
pandas==2.2.2
Pillow==10.4.0
pypdfium2==4.30.0
qianfan==0.4.7
Requests==2.32.3
scikit_learn==1.2.2
sentence_transformers==2.2.2
spacy==3.7.6
streamlit==1.38.0
umap_learn==0.5.4